{% extends "layout.html" %}
{% block content %}
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-control input-group-lg w-75 col-md-8 mx-auto mb-6">
                <div class="">
                    {{ form.email.label(class="form-control-label") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.rememberme(class="form-check-input") }}
                    {{ form.rememberme.label(class="form-check-label") }}
                </div>
                <div class="form border-top pt-3">
                    {{ form.submit(class="btn btn-outline-info")}}
<!--                    <a href=/signup >Don't have an account?</a>-->
                </div>

            </fieldset>

        </form>
{% endblock %}